.movie-card-box{
    width: 220px;
    width: 100%;
    height: 330px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.movie-card-box:hover{
    transform: scale(1.3) translateZ(20px);
    z-index: 2;
}
.movie-card-overlay{
    opacity: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(43, 41, 41, 0.9);
    padding: 15px;
    font-weight: bold;
    overflow-wrap: break-word;
    transition: all 1s ease-in-out;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.movie-card-overlay:hover{
    opacity: 1;
}
.movie-conts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.movie-conts-top{
    display: flex;
    gap: 5px;
}
.movie-cont {
    font-size: 12px;
    font-weight: normal;
    background: rgba(103, 105, 221, 0.7) !important;
}
.cont-adult{
    background: rgba(255, 106, 106, 0.5) !important;
}