body {
  background-color: #1c1c25;
  color:#fff;
}
.container-wrap {
  min-height: 100vh;
  padding: 100px 15px;
}
.container-wrap-wide {
  padding: 0;
}
.side-p {
  padding: 0 3rem;
}

/* ========== navbar ========== */
.App-logo{
  width: 150px;
  filter: invert(1);
}
.navbar {
  background-color: rgba(28, 28, 37, 0.7) !important;
  color: #fff !important;
  position: fixed;
  z-index: 100;
  width: 100%;
  backdrop-filter: blur(20px);
}
.navbar a {
  color: #fff !important;
}
.navbar-toggler-icon {
  filter: invert(1);
}
.navbar-toggler:focus:not(:focus-visible) {
  outline: transparent;
  box-shadow: none;
}
.nav-visible {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}

.nav-hidden {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

/* ========== Spinner ========== */
.spinner-area {
  padding: 10rem;
  width: 100%;
  text-align: center;
}

/* ========== pagination ========== */
.pagination {
  padding-top: 100px;
  justify-content: center;
}
.active > .page-link, .page-link.active {
  background-color: rgb(98, 89, 224);
  border: 0;
}
.page-link {
  color: rgb(98, 89, 224);
}
.disabled>.page-link, .page-link.disabled, .page-link {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
}

.btn-search {
  border: 1px solid rgb(98, 89, 224);
  color: rgb(132, 125, 233);
}
.btn-search:hover {
  background-color: rgb(98, 89, 224);
  border: 1px solid rgb(98, 89, 224);
}
/*
******************************
* MEDIA QUERIES
*****************************
*/

/* Mobile - Portrait(세로방향) */
@media (max-width: 575px) {}

/* Mobile - Landscape(가로방향) */
@media (min-width: 576px) and (max-width: 767px) {}

@media (max-width: 767px) {
  .side-p {
    padding: 0 15px;
  }
  .navbar {
    padding: 10px 0;
  }
  .App-logo{
    width: 100px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {}

/* Desktop */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Desktop (Large) */
@media (min-width: 1200px) {}
