body {
  background-color: #1c1c25;
  color:#fff;
}
.container-wrap {
  min-height: 100vh;
  padding: 100px 15px;
}
.container-wrap-wide {
  padding: 0;
}
/* ========== navbar ========== */
.App-logo{
  width: 150px;
  filter: invert(1);
}
.navbar {
  background-color: #1c1c259c !important;
  color: #fff !important;
  padding: 15px 0;
  position: fixed;
  z-index: 1;
  width: 100%;
}
.navbar a {
  color: #fff !important;
}
.navbar-toggler-icon {
  filter: invert(1);
}
.navbar-toggler:focus:not(:focus-visible) {
  outline: transparent;
  box-shadow: none;
}


/*
******************************
* MEDIA QUERIES
*****************************
*/

/* Mobile - Portrait(세로방향) */
@media (max-width: 575px) {}

/* Mobile - Landscape(가로방향) */
@media (min-width: 576px) and (max-width: 767px) {}

@media (max-width: 767px) {
  .navbar {
    padding: 10px 0;
  }
  .App-logo{
    width: 100px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {}

/* Desktop */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Desktop (Large) */
@media (min-width: 1200px) {}
