.carousel-container {
    overflow: hidden;
    height: 500px;
}
.movie-card-cont:hover{
    z-index: 1;
}
.react-multi-carousel-dot button {
    border-width: 0px;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    background: rgb(255, 255, 255, 0.7);
}
.react-multi-carousel-dot--active button {
    background: rgb(103, 105, 221);
}
.react-multiple-carousel__arrow {
    background: rgba(82, 84, 204, 0.5);
}
.react-multiple-carousel__arrow:hover {
    background: rgb(82, 84, 204);
}